<div class="card registraion-flame">
  <div class="card-body">
    <div class="user-title">
      <h1>アカウントの新規登録</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>      
      <div class="d-inline-flex flex-column col-md-6">
        <%= f.label :名前, class: 'user-label-name' %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "user-form" %>

        <%= f.label :メールアドレス, class: 'user-label-name' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-form" %>

        <%= f.label :パスワード, class: 'user-label-name' %>
        <%= f.password_field :password, autocomplete: "new-password", class: "user-form" %>

        <%= f.label :パスワードの確認, class: 'user-label-name' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form" %>

        <%= f.submit "アカウントの作成", class: "user-button" %>
      </div>
    <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>