<%= render 'layouts/registration_list_tab' %>

<div class="regi-title">
  <h2>登録した収入の一覧</h2>
</div>

<table class="table table-striped regi-table">
  <thead class="thead-lignt">
    <tr>
      <th class="table-title" scope="col">大項目</th>
      <th class="table-title" scope="col">詳細項目</th>
      <th class="table-title" scope="col">日付</th>
      <th class="table-title" scope="col">金額</th>
      <th class="table-title" scope="col">お金の場所</th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.item.name %></td>
        <td><%= income.detail_item.name %></td>
        <td><%= income.date %></td>
        <td><%= income.amount %></td>
        <td><%= income.money_place.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>