<%= render 'layouts/registration_tab' %>
  <div class="tab-pane">
    <h2>収入・支払の登録</h2>
    <%= form_with model: @income_and_payment, remote: true do |f| %>
          <div>
            <%= f.label :type, "収入" %>
            <%= f.radio_button :income_or_payment, 1 %>
            <%= f.label :type, "支払" %>
            <%= f.radio_button :income_or_payment, 2 %>
        </div>
        <div>
          <%= f.label :item, "大項目" %>
          <%= f.select :item_id, options_from_collection_for_select(Item.all, :id, :name), { include_blank: true, selected: Item.all.ids }, { class: "select-parent" } %>
        </div>
        <div>
          <%= f.label :detai_item, "詳細項目" %>
          <%= f.select :detail_item_id, [], { include_blank: true }, { class: "select-parent" } %>
        </div>
        <div>
          <%= f.label :date, "日付" %>
          <%= f.date_field :date %>
        </div>
        <div>
          <%= f.label :month_loop, "毎月" %>
          <%= f.check_box :month_loop, {}, checked_value=true %>
        </div>
        <div>
          <%= f.label :amount, "金額" %>
          <%= f.number_field :amount %>
        </div>
        <div>
          <%= f.label :money_place, "お金の場所" %>
          <%= f.select :money_place_id, options_from_collection_for_select(MoneyPlace.all, :id, :name),
          { include_blank: true }, {} %>
        </div>
        <div>
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <%= javascript_pack_tag 'income_and_payments/new' %>
  </div>