<div class="header d-flex flex-column">
  <div class="up-header row navbar justify-content-between">
    <div class="col-3">
      <%= link_to :MoneyMoney, root_path, class: "sitename"%>
    </div>
    <div class="col-5 up-header-menu">
      <% if user_signed_in? %>
        <span class="login-user-name">
          <%= current_user.name %>
        </span>
        <span class="logout-user">
          <%= link_to :ログアウト, destroy_user_session_path, method: :delete %>
        </span>
      <% else %>
      <% end %>
    </div>
  </div>
  <div class="down-header navbar justify-content-start">
      <% if user_signed_in? %>
        <%= link_to :登録,  new_income_and_payment_path, class: "col-2 down-header-item"%>
        <%= link_to :予測の結果,  results_path, class: "col-2 down-header-item"%>
        <%= link_to :登録一覧, incomes_income_and_payments_path, class: "col-2 ndown-header-item"%>
        <%= link_to :振返り・残高の確定,  new_actual_monies_path, class: "col-2 down-header-item"%>
      <% else %>
      <% end %>
  </div>
</div>
