<div class="card registraion-flame col-md-8 mx-auto actual-flame">
  <div class="regi-title">
    <h1>振返り・残高の確定</h1>
  </div>
  <div class="card-body">
    <% if @actual_moneies.present? && @actual_moneies.collection.present? %>  
      <%= form_with model: @actual_moneies, url: actual_moneies_path, local: true do |f| %>
        <div class="actual-date-form">
          <%= f.label :date, "確定する日付", class: "regi-label-name" %>
          <%= f.date_field :date, class: "regi-form" %>
        </div>
        <table class="table table-striped regi-table">
          <thead class="thead-lignt">
            <tr>
              <th class="table-title" scope="col">名前</th>
              <th class="table-title" scope="col">実際の金額</th>
            </tr>
          </thead>
          <tbody>
            <% @actual_moneies.collection.each do |actual_money| %>
              <%= fields_for "actual_money[]", actual_money do |field| %>
                <tr>
                  <td><%= field.label :money_place, "#{actual_money.money_place.name}", class: "regi-label-name" %></td>
                  <%= field.hidden_field :money_place_id, :value => "#{actual_money.money_place.id}"%>
                  <td><%= field.number_field :amount, min: 0, class: "regi-form-right" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "実際の金額に確定する", class: "regi-button" %>
      <% end %>
    <% else %>
      <div>
        <p>お金の場所が登録されていません。</p>
        <p><%= link_to :お金の場所を登録する。, new_money_place_path %></p>
      </div>
    <% end %>
  </div>
</div>