<div class="result-data">
  <h2 class="result-title">収入</h2>
  <% if @incomes.present? %>
    <div class="result-box">
      <div class="result-item-name-box">
        <span>大項目</span>
        <% @income_items.each do |income_item| %>
          <div class="item-names" id=<%= "#{income_item.id}" %>>
            <span class="item-name"><%= income_item.name %></span>
            <span class="open-toggle-button">+</span>
          </div>
        <% end %>
        <span>合計</span>
      </div>
      <div class="result-value-box">
        <div class="result-item-row">
          <% @result_incomes.each do |date, values| %>
            <span class="result-item"><%= date %></span>
          <% end%>
        </div>
        <% @income_items.each do |income_item| %>
          <div class="result-item-row" id=<%= "item-id-#{income_item.id}" %>>
            <% @result_incomes.each do |date, values| %>
              <% values.each do |name, value| %>
                <% if name == income_item.name %>
                  <span class="result-item"><%= value %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="result-item-row">
        <% @result_incomes.each do |date, values| %>
          <span class="result-item"><%= Result.result_sum(@incomes, date) %></span>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="result-data">
  <h2 class="result-title">支払</h2>
  <% if @payments.present? %>
    <div class="result-box">
      <div class="result-item-name-box">
        <span>大項目</span>
        <% @payment_items.each do |payment_item| %>
          <div class="item-names" id=<%= "#{payment_item.id}" %>>
            <span class="item-name"><%= payment_item.name %></span>
            <span class="open-toggle-button">+</span>
          </div>
        <% end %>
        <span>合計</span>
      </div>
      <div class="result-value-box">
        <div class="result-item-row">
          <% @result_payments.each do |date, values| %>
            <span class="result-item"><%= date %></span>
          <% end%>
        </div>
        <% @payment_items.each do |payment_item| %>
          <div class="result-item-row" id=<%= "item-id-#{payment_item.id}" %>>
            <% @result_payments.each do |date, values| %>
              <% values.each do |name, value| %>
                <% if name == payment_item.name %>
                  <span class="result-item"><%= value %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="result-item-row">
          <% @result_incomes.each do |date, values| %>
            <span class="result-item"><%= Result.result_sum(@payments, date) %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="result-data">
  <h2 class="result-title">お金</h2>
  <% if @money_places.present? %>
    <div class="result-box">
      <div class="result-item-name-box">
        <span>名前</span>
        <% @money_places.each do |money_place| %>
          <div class="money-place-names">
            <span class="money-place-name"><%= money_place.name %></span>
          </div>
        <% end %>
      </div>
      <div class="result-value-box">
        <div class="result-item-row">
          <% @result_money_places.each do |date, values| %>
            <span class="result-item"><%= date %></span>
          <% end%>
        </div>
        <% @money_places.each do |money_place| %>
          <div class="result-item-row">
            <% @result_money_places.each do |date, values| %>
              <% values.each do |name, value| %>
                <% if name == money_place.name %>
                  <span class="result-item"><%= value %></span>
                <% end %>
              <% end %>
            <% end%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'results/index' %>
