<% if @result_incomes.present? %>
  <div class="row flex-nowrap result-data">
    <ul class="col-sm-2">
      <li>大項目</li>
        <% @incomes.each do |income| %>
          <li><%= income.item.name %></li>
        <% end %>
      </ul>
      <% @result_incomes.each do |date, values| %>
        <ul class="col-sm-2">
          <li><%= date %></li>
          <% values.each do |value| %>
            <li><%= value %></li>
          <% end %>
        </ul>
      <% end %>
  </div>
<% end %>

<% if @result_payments.present? %>
  <div class="row flex-nowrap result-data">
    <ul class="col-sm-2">
      <li>大項目</li>
      <% @payments.each do |payment| %>
        <li><%= payment.item.name %></li>
      <% end %>
    </ul>
    <% @result_payments.each do |date, values| %>
      <ul class="col-sm-2">
        <li><%= date %></li>
        <% values.each do |value| %>
          <li><%= value %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
