<%= render 'layouts/registration_tab' %>

<div class="card registraion-flame">
  <div class="card-header">
    <h2>お金の場所の登録</h2>
  </div>
  <div class="registraion-form container">
      <%= form_with model: @money_place, local: true do |f| %>
        <li class="list-group-item">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name %>
        </li>
        <li class="list-group-item">
          <%= f.label :date, "日付" %>
          <%= f.date_field :date %>
        </li>
        <li class="list-group-item">
          <%= f.label :amount, "金額" %>
          <%= f.number_field :amount, min: 0 %>
        </li>
        <div class="card-body">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>