<%= render 'layouts/registration_tab' %>

<div class="card registraion-flame col-md-8 mx-auto">
  <div class="regi-title">
    <h1>お金の場所の登録</h1>
  </div>
  <div class="card-body">
      <%= form_with model: @money_place, local: true do |f| %>
        <div class="d-inline-flex flex-column col-md-6">
          <%= f.label :name, "名前", class: "regi-label-name" %>
          <%= f.text_field :name, class: "regi-form" %>

          <%= f.label :date, "日付", class: "regi-label-name" %>
          <%= f.date_field :date, class: "regi-form" %>

          <%= f.label :amount, "金額", class: "regi-label-name" %>
          <%= f.number_field :amount, min: 0, class: "regi-form-right" %>

          <%= f.submit "登録する", class: "regi-button" %>
        </div>
      <% end %>
  </div>
</div>
