<!DOCTYPE html>
<html>
  <head>
    <title>MoneyMoney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ヘッダー -->
    <div class="header d-flex flex-column">
      <div class="up-header row navbar justify-content-between">
        <div class="col-3">
          <%= link_to :MoneyMoney, root_path, class: "sitename"%>
        </div>
        <div class="col-5 up-header-menu">
          <% if user_signed_in? %>
            <span class="login-user-name">
              <%= current_user.name %>
            </span>
            <span class="logout-user">
              <%= link_to :ログアウト, destroy_user_session_path, method: :delete %>
            </span>
          <% else %>
          <% end %>
        </div>
      </div>
      <div class="down-header navbar justify-content-start">
          <% if user_signed_in? %>
            <%= link_to :登録,  new_income_and_payment_path, class: "col-2 down-header-item"%>
            <%= link_to :予測の結果,  results_path, class: "col-2 down-header-item"%>
            <%= link_to :登録一覧, incomes_income_and_payments_path, class: "col-2 ndown-header-item"%>
            <%= link_to :振返り・残高の確定,  new_actual_money_path, class: "col-2 down-header-item"%>
          <% else %>
          <% end %>
      </div>
      <!-- flashの表示 -->
      <% flash.each do |message_type, message| %>
        <%= message %>
      <% end %>
      <!-- flashの表示 -->
    </div>
    <!-- ヘッダーここまで -->

    <!-- メイン -->
    <div class="main-content">
      <%= yield %>
    </div>
    <!-- メインここまで -->
    <!-- フッター -->
    <footer class="footer">
    <div>
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>
  <!-- フッターここまで -->  
  </body>
</html>
