<!DOCTYPE html>
<html>
  <head>
    <title>MoneyMoney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
  <!-- ヘッダー -->
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">MoneyMoney</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-link active" aria-current="page" href="#">収入・支出・お金の場所を追加</a>
          <a class="nav-link" href="#">予測の結果</a>
          <a class="nav-link" href="#">登録一覧</a>                
          <a class="nav-link" href="#">振返り</a>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
  </nav>
  <!-- ヘッダーここまで -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- メイン -->
    <div class="card">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  <!-- メインここまで -->
  <!-- フッター -->
  <footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
  <!-- フッターここまで -->  
  </body>
</html>
